.homepage {
    font-family: 'Amatic SC';
    color: white;
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.homepage: :before {
    content: "";
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}

body{
 background-color: bisque;
 color: black;
 font-family: 'Amatic SC';
 font-size: large;
}

li {
    display: inline;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    text-align: center;
    font-size: 230%;
    color: white;
    float: left;
    background-color: burlywood;
    height: 50px;
    width: 100%;
    border: 1px solid white;

}

header{
    align-items: center;
    justify-content: center;
}

.introtext {
    color: ivory;
    padding-left: 300px;
    padding-right: 150px;
    padding-top: 5px;
    font-size: 150%;
    font-weight: bolder;
    flex-direction: row;
    justify-content: center;
}

.container0 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px rgb(235, 178, 109);
    margin: 50px;
    font-size: 150%;
    flex-wrap: wrap;
    align-content: flex-end;
}

.category {
    width: 300px;
    height: 300px;
    text-align: center;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
.box {
    width: 500px;
    height: 400px;
    padding: 15px;
    border: 2px solid ivory;
    margin: 40px;
    overflow: hidden;
    border-radius: 5px;
  }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid ivory;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 8px 0;
    resize: vertical;
    display: inline-block;
    text-align: left;
    color: black;
}

input[type=submit] {
    width: 100%;
    background-color: coral;
    color: black;
    padding: 5px;
    margin: 8px 0;
    border: 2px solid ivory;
    border-radius: 4px;
    display: inline-block;
}

.container2 {
    margin:auto;
    width: 40%;
    border-radius: 4px;
    border: 2px solid ivory; 
    padding: 10px;
    background-color: bisque;
}

h1 {
    text-align: center;
}

.message {
    text-align: center;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 5px;
    border: 2px solid black; 
    padding: 10px;
    background-color: bisque;
    margin-top: 30px;
  }


.flex-container {
    display: flex;
    flex-flow: row nowrap;
    flex: auto;
    justify-content: space-evenly;
    height: auto;
    align-items: stretch;
    align-content: stretch;
    background-color: rgb(223, 193, 208);
}

.image {
    flex: auto;
    padding: 40px;
    color: black;
    text-align: left;
}

.story {
    flex: auto;
    padding: 10px;
    color: black;
}

.flex-container2 {
    display: flex;
    flex-flow: row-reverse nowrap;
    flex: auto;
    justify-content: space-evenly;
    height: auto;
    align-items: stretch;
    align-content: stretch;
    background-color: rgb(182, 215, 236);
}
