body{
    font-family: 'Amatic SC';
    color: ivory;
    background-image: url("./img/Background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: 100% 100%;
}
nav {
    display: block;
    padding-left: 75px;
    margin: auto;
    text-align: center;
    font-size: 230%;
    color: ivory;
    float: left;
}

li {
    display: inline;
}

.liststyle{
    display: inline;
}

.liststyle2{
    list-style-type: upper-alpha;
}

header{
    align-items: center;
    justify-content: center;
}

.introText {
    color: ivory;
    padding-left: 300px;
    padding-right: 150px;
    padding-top: 5px;
    font-size: 150%;
    font-weight: bolder;
    flex-direction: row;
}

.flexContainer0 {
    display: flex;
    padding-left: 380px;
    padding-right: 250px;
    padding-top: 5px;
    border: 10px white;
    margin: 50px;
    font-size: 150%;
    flex-wrap: wrap;
    align-content: flex-end
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width :100%;
}

main {
    width: 916px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  

.box {
    width: 500px;
    height: 400px;
    padding: 15px;
    border: 2px solid black;
    margin: 40px;
    overflow: hidden;
    border-radius: 5px;
  }

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 8px 0;
    resize: vertical;
    display: inline-block;
    text-align: left;
}

input[type=submit] {
    width: 100%;
    background-color: coral;
    color: black;
    padding: 5px;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 4px;
    display: inline-block;
}

.container2 {
    margin:auto;
    width: 40%;
    border-radius: 4px;
    border: 2px solid black; 
    padding: 10px;
    background-color: white;
}

h1 {
    text-align: center;
}

.message {
    text-align: center;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 5px;
    border: 2px solid black; 
    padding: 10px;
    background-color: white;
    margin-top: 30px;
  }


.flex-container {
    display: flex;
    flex-flow: row nowrap;
    flex: auto;
    justify-content: space-evenly;
    height: auto;
    align-items: stretch;
    align-content: stretch;
}

.image {
    flex: auto;
    padding: 40px;
}

.story {
    flex: auto;
    padding: 10px;
    
}

.flex-container2 {
    display: flex;
    flex-flow: row-reverse nowrap;
    flex: auto;
    justify-content: space-evenly;
    height: auto;
    align-items: stretch;
    align-content: stretch;
