.homepage {
    font-family: 'Amatic SC';
    color: white;
    position: relative;
    height: 100vh;
    width: 100%; 
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body{
 background-color: bisque;
 color: black;
 font-family: 'Amatic SC';
 font-size: large;
 margin: 0;
}

li {
    display: inline;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    text-align: center;
    font-size: 230%;
    color: white;
    float: none;
    background-color: burlywood;
    height: 50px;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: space-evenly;
}

.anchor {
    padding-top: 50px;
}

.module {
    background-image: 
      linear-gradient(
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)
      ),
      url(../img/Background.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin: 0;
    background-repeat: repeat-y;
  }


.cr p {
    color: ivory;
    font-family: 'Amatic SC';
    font-size: 150%;
    font-weight: bolder;
    padding: 100px 10px 100px 10px;
    margin: 10px;
    position: absolute;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container0 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px rgb(235, 178, 109);
    margin: 10px;
    font-size: 150%;
    flex-wrap: wrap;
    align-content: flex-end;
}

.category {
    width: 200px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  
.box {
    width: 200px;
    height: 420px;
    padding: 15px;
    border: 2px solid ivory;
    margin: 40px;
    overflow: hidden;
    border-radius: 5px;
}

.ourpics {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.names {
    text-align: center;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid ivory;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 8px 0;
    resize: vertical;
    display: inline-block;
    text-align: left;
    color: black;
}

input[type=submit] {
    width: 100%;
    background-color: rgb(249, 159, 127);
    color: black;
    padding: 5px;
    margin: 8px 0;
    border: 2px solid ivory;
    border-radius: 4px;
    display: inline-block;
}

.container2 {
    margin:auto;
    width: 40%;
    border-radius: 4px;
    border: 2px solid ivory; 
    padding: 10px;
    background-color: bisque;
}

h1 {
    text-align: center;
}

.message {
    text-align: center;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 5px;
    border: 2px solid ivory; 
    padding: 10px;
    background-color: bisque;
    margin-top: 30px;
  }


.flex-container {
    display: flex;
    flex-flow: row nowrap;
    flex: auto;
    justify-content: space-evenly;
    height: auto;
    align-items: stretch;
    align-content: stretch;
    background-color: bisque;
}

.image {
    flex: auto;
    padding: 40px;
    color: black;
    text-align: left;
}


.story {
    flex: auto;
    padding: 10px;
    color: black;
    font-size: 2vw;
}

.story a {
    color: chocolate;
    text-decoration: none;
}

.story a:hover {
    text-decoration: underline;
}

.flex-container2 {
    display: flex;
    flex-flow: row-reverse nowrap;
    flex:auto;
    justify-content: space-evenly;
    height: auto;
    align-items: stretch;
    align-content: stretch;
    background-color:  rgb(255, 246, 235);
}
